@import '../../assets/styles/colors';

.project_input {
  width: 100%;
  box-sizing: border-box;
  background: $color-input-bg;
  border: 2px solid $color-input-border;
  padding: 10px;
  display: block;
  border-radius: 3px;
  font-size: 1rem;
  resize: none;
}
