$color-red: #d40e14;
$color-red25: #fdd9d9;
$color-digital-red: #8c0004;
$color-blue: #70cbf4;
$color-blue50: #c2e6fa;
$color-blue25: #e2f3fe;
$color-digital-blue: #176599;
$color-dark-blue: #092a5e;
$color-dark-blue-opacity: rgba(9, 42, 94, 0.85);
$color-black: #000;
$color-white: #fff;
$color-grey: #737373;
$color-grey75: #9b9b9b;
$color-grey50: #b9b9b9;
$color-grey25: #dcdcdc;
$color-grey10: #f5f5f5;
$color-digital-grey: #4c4c4c;
$color-modal-background: #4dabea7d;
$color-loader-background: #414141;
$color-body-background: #f5f5f5;
$color-input-bg: #fcfcfc;
$color-input-border: #e7e7e7;
$color-green: #0c7600;
